*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grey{
  background-color: grey;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
  /*HEADER*/

main section .container{
  display: flex;
}

  /*MENU*/
header>section{
  background-color: lightblue;
  height: 100px;
}

ul li{
  display: inline;
}

.menu{
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
  border: 1px dashed black;
  height: 80px;
  width: 1170px;
}

.logo{
  display: flex;
  align-items: center;
  width: 25%;
  border: 1px dashed black;
  padding-left: 10px;
  font-size: larger;

}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px dashed black;
}

.link:hover{
  text-decoration: underline;
}



.login{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  border: 1px dashed black;
  padding-right: 10px;
  font-size: larger;

}
/*MENU*/

/*CONTENUTO*/
.jumbotron{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  height: 650px;
}


.jumbotron div{
  border: 1px dashed black;
  background-color: rgb(189, 66, 152);
  height: 450px;
  min-width: 1000px;
}
/*CONTENUTO*/
/*HEADER*/


/*MAIN*/
main section{
  min-height: 600px;
  padding: 30px 0;
  min-width: 1000px;
}

.img{
  border: 1px dashed black;
  height: 600px;
  min-width: 60%;
  background-color: rgb(0, 174, 255);
}

section div aside{
  border: 1px dashed black;
  height: 600px;
  min-width: 40%;
  background-color: pink;
}

.tecnologia div{
  min-width: 1400px;
  background-color: green;
  height: 850px;
}
/*MAIN*/


/*FOOTER*/
footer{
  background-color: #24272A;
}

footer .top{
  display: flex;
  margin: 0 auto;
  width: 1200px;
  height: 500px;
  background-color: rgb(109, 208, 79);
}

footer .top .social{
  display: flex;
  width: calc(100% / 3);
  height: 100%;
  background-color: rgb(156, 247, 129);
  border: 1px dashed black;
}

footer .top .info{
  width: calc(100% / 6);
  height: 100%;
  background-color: rgb(180, 237, 162);
  border: 1px dashed black;
}


/*FOOTER*/
